<!-- Meta Pixel: carrega somente após interação do usuário ou 3 s -->
<script nonce="{{ csp_nonce }}">
(function(){
  var _loaded=false;
  function _fbLoad(){
    if(_loaded)return;
    _loaded=true;
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init','{{ meta_pixel_id }}');
    fbq('track','PageView');
  }
  window._fbPixelLoad = _fbLoad;
  ['scroll','click','touchstart'].forEach(function(e){
    window.addEventListener(e,_fbLoad,{once:true,passive:true});
  });
  setTimeout(_fbLoad,3000);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none"
src="https://www.facebook.com/tr?id={{ meta_pixel_id }}&ev=PageView&noscript=1"
/></noscript>