<!-- Meta Pixel: carrega somente após interação do usuário, evento pendente ou 3 s -->
<script nonce="{{ csp_nonce }}">
(function(){
  var _loaded=false;
  var _ready=false;
  var _queue=[];

  function _trackNow(item){
    if(typeof fbq!=='function')return false;
    if(item.options){
      fbq('track',item.name,item.data||{},item.options);
    }else if(item.data){
      fbq('track',item.name,item.data);
    }else{
      fbq('track',item.name);
    }
    return true;
  }

  function _flush(){
    if(!_ready||typeof fbq!=='function')return;
    while(_queue.length){
      _trackNow(_queue.shift());
    }
  }

  function _fbLoad(){
    if(_loaded){_flush();return;}
    _loaded=true;
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init','{{ meta_pixel_id }}');
    fbq('track','PageView');
    _ready=true;
    _flush();
    try{
      window.dispatchEvent(new CustomEvent('metaPixelReady'));
    }catch(e){
      var event=document.createEvent('Event');
      event.initEvent('metaPixelReady',false,false);
      window.dispatchEvent(event);
    }
  }
  window._fbPixelLoad = _fbLoad;
  window.trackMetaPixel = function(eventName,data,options){
    if(!eventName)return;
    _queue.push({name:eventName,data:data,options:options});
    _fbLoad();
  };
  ['scroll','click','touchstart'].forEach(function(e){
    window.addEventListener(e,_fbLoad,{once:true,passive:true});
  });
  setTimeout(_fbLoad,3000);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none"
src="https://www.facebook.com/tr?id={{ meta_pixel_id }}&ev=PageView&noscript=1"
/></noscript>
