<!-- Meta Pixel: carrega após idle para não bloquear FCP/LCP -->
<script nonce="{{ csp_nonce }}">
(function(){
  function _fbLoad(){
    if(window._fbpLoaded)return;
    window._fbpLoaded=true;
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init','1413794504078637');
    fbq('track','PageView');
  }
  if('requestIdleCallback' in window){
    requestIdleCallback(_fbLoad,{timeout:4000});
  } else {
    setTimeout(_fbLoad,3500);
  }
})();
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1413794504078637&ev=PageView&noscript=1"
/></noscript>